click==8.0
coloredlogs==14.0
flask==2.1.0
Flask-HTTPAuth==4.1.0
gitdb==4.0.5
GitPython==3.1.7
gunicorn==20.0.4
humanfriendly==8.2
itsdangerous==2.0
Jinja2==3.0
MarkupSafe==2.0.0rc2
numpy==1.19.0
pandas==1.0.5
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
smmap==3.0.4
Werkzeug==2.0
gunicorn==20.0.4
console-menu