waitress==1.4.4
flask==1.1.2
python-dateutil==2.8.1
phonenumbers==8.12.1
spacy==2.2.4
gunicorn==20.0.4

datefinder==0.7.1
date_detector==1.0.2
#Run this manually if windows: python -m spacy download en
